.header {
    background-color:#F8F8F8 ;
    font-size: 18px;
    text-align: center;
}

.search {
    margin-right: 7% ;
    margin-top: 20px ;
    margin-bottom: 1% ;
}


.menu {
    background-color: white;
}

.menu-rigth {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.hover:hover span {
    padding-right: 0px;
    border-bottom: 3px solid;
    cursor: pointer;
}



.margin-t-20 {
    margin-top: -20px 
}

.margin-r-30 {
    margin-right: 30px 
}

.margin-r-20 {
     margin-right: 20px 
}

.icon {
    vertical-align: top;
    padding-right: 5px
}

.logo {
    cursor: pointer;
    width: 140px;
    height: 80px;
}

.stick-header {
    position: fixed;
    top: 0;
    width: 100%;
    Z-INDEX: 1;
}

.blank-menu {

    padding: 25px;
}

@media screen and (max-width: 1279px){
    .header {
        font-size: 14px;
    }     
}