<div class="header">

  <!-- MENU HEADER -->
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <div class="p-4 bd-highlight hover">
        <span>CONTACT</span>
      </div>
      <div class="p-4 bd-highlight hover">
        <span> EVENT & NEWS</span>
      </div>
      <div class="p-4 bd-highlight hover">
        <span> THE STORY </span>
      </div>
    </div>
    <div class="d-flex justify-content-end margin-r-30">
      <div class="p-4 bd-highlight hover">
        <i class="material-icons icon"> person </i>
        <span> LOGIN </span>
      </div>
      <div class="p-4 bd-highlight">
        <b> | </b>
      </div>
      <div class="p-4 bd-highlight">
        <i class="material-icons icon"> loyalty </i>
        <span> (0) </span>
        &nbsp;&nbsp;&nbsp;
        <i class="material-icons icon"> shopping_cart </i>
        <span> (0) </span>
      </div>
      <div class="p-4 bd-highlight">
        <b> | </b>
      </div>
      <div class="p-4 bd-highlight"> EN </div>
    </div>
  </div>
  <!-- END MENU HEADER -->

  <!-- LOGO -->
  <div class="d-flex justify-content-between">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight logo">
        <img class="logo" src="../../../assets/images/siam-glitter.png">
    </div>
    <div class="p-2 bd-highlight search">
      <i class="material-icons icon"> search </i>
      <span> SEARCH</span>
    </div>
  </div>
  <!-- END LOGO -->

  <!-- MAIN MENU -->
  <div class="d-flex justify-content-center menu ">
    <div class="p-3 bd-highlight hover">
      <span>JEWELRY </span>
    </div>
    <div class="p-3 bd-highlight hover">
      <span>PEARL</span>
    </div>
    <div class="p-3 bd-highlight hover">
      <span>BAG</span>
    </div>
    <div class="p-3 bd-highlight hover">
      <span>SCARF</span>
    </div>
    <div class="p-3 bd-highlight hover">
      <span>WATCH</span>
    </div>
    <div class="p-3 bd-highlight hover">
      <span>FRAGRANCE</span>
    </div>
  </div>
  <!--END MAIN MENU -->
  
</div>