<div class="footer">

  <!-- ABOUT  -->
  <div class="d-flex justify-content-center about">
    <div class="bd-highlight">
    </div>
    <div class="bd-highlight">
      <i class="material-icons icon"> phone </i>
      <p> CONTACT </p>
    </div>
    <div class="bd-highlight ">
      <i class="material-icons icon"> event_note </i>
      <p> EVENT & NEWS </p>
    </div>
    <div class="bd-highlight about-right">
      <i class="material-icons icon"> location_on </i>
      <p> STORE LOCATION </p>
    </div>
    <div class="bd-highlight">
    </div>
  </div>
  <!-- END ABOUT  -->

  <!-- FOOTER DETAIL -->
  <div class="footer-detail">
    <div class="d-flex justify-content-between footer-detail-sec1">
      <div class="d-flex justify-content-start">
        <div class="p-3">
          <img class="logo" src="../../../assets/images/siam-glitter.png">
        </div>
      </div>
      <div class="d-flex justify-content-end" >
        <div class="p-3 bd-highlight" style="margin-right: 100px; margin-top: 10px;">
          <span> JOIN OUR MAILING LIST </span>
        </div>
        <div class="p-3 bd-highlight">
          <i style="font-size:24px;" class="fa">&#xf09a;</i>
        </div>
        <div class="p-3 bd-highlight">
          <i style="font-size:24px" class="fa">&#xf099;</i>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between footer-detail-sec2">
      <div class="d-flex justify-content-start">
        <div class="p-3">
          xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          <br> Tel: 02-xxxxxxx, Email: info@siamglitter.com, Skype: siamglitter
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="p-3 bd-highlight">
          <input type="text" placeholder="Email Address">
        </div>
        <div class="p-3 bd-highlight">
          <div class="subscibe"> SUBSCIBE NOW </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END FOOTER DETAIL -->

</div>