.footer {
   background-color: #FDEDEC;
   font-size: 18px;
   padding: 2% 5% 0px 5%; 
}

.about {
    padding: 20px 15px 20px 15px;
    margin: 0px;
    
}
.about-menu {
    background-color: rgba(199, 187, 171, 0.398);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%
}

.about-left  {
    padding-left: 100px;
}

.about-right  {
    padding-right: 100px;
}

.icon {
    font-size: 100px 
}

.logo {
    width: 90px;
    height: 60px;
    margin-top: -10px;
}

.footer-detail  {
    font-size: 14px;
}

/* .footer-detail div {
    padding-right: 30px;
    padding-left: 30px;
   
} */

.footer-detail-sec1 {
    font-size: 12px;
    color: black;


}

.footer-detail-sec2 {
    margin-top: -15px;
    font-size: 15px;
    color: black;

}

.footer-detail-sec3 {
     background-color:#F8F8F8;
     color: black ;
}

.subscibe {
    background-color: #AB954F;
    color: white; 
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 10px
}

input[type=text] {
    max-width: 300px;
    min-width: 150px;
    height: 100%;
    width: 80%;
    text-align: center;
}


@media screen and (max-width: 1279px){
    .header {
        font-size: 14px;
    }     
    .icon {
        font-size: 60px 
    }

    .footer-detail  {
        font-size: 10px;
    }

    .footer-detail-sec2 {
        font-size: 10px;
    }
    
}