<div class="footer">

  <!-- ABOUT  -->

  <div class="about">
    <div class="row justify-content-center about-menu">
      <div class="col-md-3">
        <i class="material-icons icon"> phone </i>
        <p> CONTACT </p>
      </div>
      <div class="col-md-3">
        <i class="material-icons icon"> event_note </i>
        <p> EVENT & NEWS </p>
      </div>
      <div class="col-md-3">
        <i class="material-icons icon"> location_on </i>
        <p> STORE LOCATION </p>
      </div>

    </div>
  </div>
  <!-- END ABOUT  -->

  <!-- FOOTER DETAIL -->
  <!-- SECTION 1  -->
  <div class="footer-detail">
    <div class="row justify-content-between footer-detail-sec1">
      <div class="col-md-6 justify-content-start" style="padding-top: 1%; padding-bottom: 1%;">
        <img class="logo" src="../../../assets/images/siam-glitter.png">
      </div>
      <div class="col-md-6 justify-content-end " style="padding-top: 1%; padding-bottom: 1%;">
        <div class="row">
          <div class="col-8 p-3 bd-highlight" style="text-align: right; margin-top: 10px;">
            <span> JOIN OUR MAILING LIST </span>
          </div>
          <div class="col-4 p-3 bd-highlight" style="text-align: right;">
            <i style="font-size:24px;" class="fa">&#xf09a;</i>
            &nbsp; &nbsp; &nbsp;
            <i style="font-size:24px" class="fa">&#xf099;</i>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION 1  -->
    <!-- SECTION 2  -->
    <div class="row justify-content-between footer-detail-sec2">
      <div class="col-md-6 justify-content-start" style="padding-top: 1%; padding-bottom: 1%; ">
        <span>
          xxxxxxxx
          <br> Tel: 02-xxxxxxx, Email: info@siamglitter.com, Skype: siamglitter
        </span>
      </div>
      <div class="col-md-6 justify-content-end" style="padding-top: 1%; padding-bottom: 1%;">
        <div class="row">
          <div class="col-9 bd-highlight" style="text-align: right;">
            <input type="text" placeholder="Email Address">
          </div>
          <div class="col-3 bd-highlight">
            <div class="subscibe text-truncate">
              <span> SUBSCIBE NOW</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SECTION 2  -->

  </div>
  <!-- END FOOTER DETAIL -->
</div>
<!-- SECTION 3  -->
<div class="d-flex justify-content-center footer-detail-sec3">
  <div class="p-3 bd-highlight"> &copy; siamglitter.com 2018. All right reserved </div>
</div>
<!-- ENDSECTION 3  -->